#pods
Bliss-Assignement/Pods/
Bliss-Assignement/TesteIOS.xcworkspace
Bliss-Assignement/Podfile.lock

#xcode
.DS_Store
Bliss-Assignement/.DS_Store
Bliss-Assignement/xcuserdata

# Xcode
Bliss-Assignement/build/
Bliss-Assignement/*.pbxuser
Bliss-Assignement/!default.pbxuser
Bliss-Assignement/*.mode1v3
Bliss-Assignement/!default.mode1v3
Bliss-Assignement/*.mode2v3
Bliss-Assignement/!default.mode2v3
Bliss-Assignement/*.perspectivev3
Bliss-Assignement/!default.perspectivev3
Bliss-Assignement/xcuserdata
Bliss-Assignement/*.xccheckout
Bliss-Assignement/profile
Bliss-Assignement/*.moved-aside
Bliss-Assignement/DerivedData
Bliss-Assignement/*.hmap
Bliss-Assignement/*.ipa
Bliss-Assignement/iOSInjectionProject/